$color-cta: #369;

body{
  font-family: sans-serif;
  font-size: 16px;
}

main .section.productlist-container {
  background-color:#ccc;
}
.productlist.block{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1rem;
  margin: 2em;
  .product{
    display: flex;
    flex-flow: column;
    border: 1px solid #eee;
    padding: 2em;
    &:hover{
      border: 1px solid rgb(173, 67, 41);
      box-shadow: 0 5px 40px rgba(0,0,0,.3);
    }
    img{
      width: 50%;
      overflow: hidden;
    }
    .product-name{
      margin: 1em 0;
      font-size: 1.1rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    .product-description{
      margin: 1em 0;
      font-size: 1.1rem;
      font-weight: 200;
      text-transform: lowercase;
    }
    .btn-buy{
      cursor: pointer;
      margin-top: auto;
      // display: block;
      // align-self: flex-end;
      font-size: 1rem;
      padding: .8rem 1.5rem;
      border: 1px solid $color-cta;
      background-color: $color-cta;
      color: #fff;
      &:hover{
        background-color: #fff;
        color: $color-cta;
      }
    }
  }
}